
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]


#RewriteRule ^(app|dict|ns|tmp)\/|\.ini$ - [R=404]

#RewriteCond %{HTTP_REFERER} !^http://(.+\.)?mysite\.com/ [NC]
#RewriteRule .*\.(js|css|webp|jpg|mp4)$ - [F]
